/Big Data Technology & Apps/HW1
/Big Data Technology & Apps/HW2
/Data Analytics/Data Analytics Project/Hair Loss EDA and Model Building - Messy Final Version.ipynb
/Data Analytics/Data Analytics Project/Predict Hair Fall.csv
/Data Mining/Lecture Notes/All Slides
/Time-Series Analytics/Slides